body {
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
}

hr {
  border-style: dotted none none;
  width: 3%;
  border-width: 7px;
  border-color: grey;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

table {
  margin:auto;
}

.top-container {
  text-align: center;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 230px;
}

.middle-container {
  text-align: center;
  background-color: #EAF6F6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-container {
  text-align: center;
  background-color: AliceBlue;
  height: 40px;
  padding-top: 20px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 150px;
}
.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
